.landing-recipe-suggestion {
  width: 70vw;
  /*.recipe suggestion width (70vw) - img width (65vw) = 5vw
    Putting 2.5vw creates uniform padding and
    "centers" the image */
  padding: 2.5vw 2.5vw 3vw 2.5vw;

  color: var(--color-dark);
  background-color: #f2f2f2;
  box-shadow: 0 0 8px 3px #0000001c;
  border-radius: var(--border-standard);
}
.landing-recipe-suggestion img {
  width: 65vw;
  max-height: 25vh;
  object-fit: cover;
  border-radius: var(--border-standard);
}
.landing-recipe-suggestion h3 {
  font-weight: 600;
  font-size: 1.5em;
  padding: 5px 0;
}
.landing-recipe-suggestion small {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
}

.landing-recipe-suggestion small strong {
  color: var(--color-primary-dark);
}
