#section-header {
    display: grid;
    grid-template-columns: 0.15fr 0.65fr 0.20fr;
    align-items: center;

    margin-top: 20px;
    width: 100%;
}

#section-header svg {
    font-size: 2.8rem;
    color: var(--color-primary);

    /* SVG left margin adjust */
    margin: -8px;
}
#section-header #title {
    font-size: 2rem;
    text-align: left;
    color: var(--color-primary);
}
#section-header #logomark {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
